.mbr-section-hero.mbr-after-navbar .mbr-section {
    margin-top: 15px;
    padding: 10px 15px 10px 15px;
}


img {
    height: auto;
    width: auto \9;
    width: 60%;
    box-shadow: 0 0 20px 0 #000;
    object-fit: cover;
}

.img-logo {
    height: auto;
    width: auto \9;
    width: 30%;
}

div .intro {
    padding: 10px 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 25px;
}

.intro p {
    text-indent: 2em;
    margin-bottom: 0.5em;
}

.intro ul {
    margin-bottom: 0;
}

.intro ul li {
    color: #fff;
    margin-top: 0.5em;
    font-size: 0.9em;
}

.intro h5 {
    color: cyan;
    text-align: center;
}

div .mbr-section p {
    color: #fff;
}

.mbr-arrow {
    bottom: 20px;
}
